<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Дипломски рад</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </head>
  <body>
    <main>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
             
              <div >
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">Почетна страна</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./pages/calculator.html">Калкулатор</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./pages/aboutMomIn.html">Момент инерције</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./pages/momIn.html">Прорачун момента инерције</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./pages/unitConv.html">Претварач мерних јединица</a>
                    </li>
                  
                  
                  </ul>
               
              </div>
            </div>
          </nav>
          <div class="container ">
            <div class="card mainCard ">
               
                <div class="card-body">
                    <h5 class="card-title text-center">Коришћење WEB алата за прорачун момената инерције</h5>
                  
                    <div class="card-program me-5 ms-5">
                      <!-- Ovde stavljam html paragraf za program -->
                      <p class="mt-5 me-5 ms-5">У данашњем дигиталном добу, интернет технологије и алати играју кључну улогу у различитим аспектима наших живота. Развој веб апликација постаје све важнији како би се задовољиле потребе корисника у ефикасном и интуитивном интерактивном окружењу. У складу с тим, овај дипломски рад фокусира се на дизајн и имплементацију веб странице која садржи три компоненте: генерични калкулатор, калкулатор за прорачун момената инерције и претварач мерних јединица.</p>
                      <p class="mt-5 me-5 ms-5">Циљ овог рада је пружити корисницима једноставан алат за обављање различитих врста прорачуна и конверзија који су чести у инжењерским ситуацијама. Кроз примену савремених технологија за веб развој, ова веб страница омогућује корисницима брзо и тачно израчунавање резултата.
                      </p>
                      <img src="asdf.jpg" class="mt-4 me-5 ms-5 corner-image" width="200" height="200">

                    </div>
                </div>
              </div>
          </div>
       

    </main>
   
    <script src="./js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>