<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Дипломски рад</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/aboutMomIn.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  </head>
  <body>
    <main>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
             
              <div >
                
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link "  href="../index.html">Почетна страна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./calculator.html">Калкулатор</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./aboutMomIn.html">Момент инерције</a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./momIn.html">Прорачун момента инерције</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./unitConv.html">Претварач мерних јединица</a>
                    </li>
                  
                  </ul>
               
              </div>
            </div>
          </nav>
          <div class="container ">
            <div class="card mainCard h-auto">
               
                <div class="card-body">
                    <h5 class="card-title text-center">Момент инерције</h5>
                  
                    <div class="card-program mt-5 me-5 ms-5">
                      <!-- Ovde stavljam html paragraf za program -->
                      <p class="mt-4 ">При разматрању пазличитих случајева напрезања и њима одговарајућих деформација, потребно је познавати геометријске карактеристике попречних пресека разматраних делова конструкције. Уопштено се може рећи да је момент инерције замишљена геометријска карактеристика (замишљени отпор) који површина попречног пресека конструктивног елемента пружа својом величином, обликом и положајем (у односу на неку меродавну осу елемента) обртању пресека око те осе</p>
                      <img src="Screenshot 2024-02-14 174156.png" width="230" height="200">
                      <img src="Screenshot 2024-02-14 174244.png" width="350" height="80">
                      <img src="Screenshot 2024-02-14 174329.png" width="410" height="100">
                      <p>Статички момент неке површине А је замишлјена геометријска карактеристика које представља производ величине површине те фигуре и растојања њеног тежишта до осе у односу на коју се ова величина израчунава.</p>
                      <img src="Screenshot 2024-02-14 174403.png" width="670" height="130">
                      <p>У случају дејства оптерећења на савијање, геометријска величина попречног пресека, меродавна у прорачунима које треба обавити, биће нека величина која дефинише и положај тог пресека у односу на правац дејства оптерећења. Аксијални момент инерције - замишљени отпор пресека према савијању.</p>
                      <img src="Screenshot 2024-02-14 174424.png" width="670" height="120">
                      <p>У случају дејства оптерећења на увијање, попречни пресек ће се обрнути за неки угао око осе штапа, па се може закључити да ће у том случају геометријска карактеристика бити нека величина која дефинише облик и положај тог пресека у односу на тачку око које се врши обртање. Поларни момент инерције - замишљени отпор пресека према увијању.</p>
                      <img src="Screenshot 2024-02-14 174416.png" width="670" height="120">

                    </div>
                </div>
              </div>
          </div>
       

    </main>
   
    <script src="../js/index.js"></script>
    <script src="../js/aboutMomIn.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>